name: Run linters/fixers
on: [push]
jobs:
  hadolint:
    name: Hadolint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        show-progress: false
    - uses: jbergstroem/hadolint-gh-action@d2f58da7f4f242dc0b6c5ef882ad4f8e871ba96b  # v1.15.0
      with:
        dockerfile: '**/*Dockerfile'
        error_level: '1'  # Fail on warning or above.
